#search-section {
	margin: 35% 0 0 20%;

}

#search-form {
	width: 90%;
}

.select-bar {
	width: 15%;
	display: inline-block;
	height: 36px;
	float: left;
	padding-left: 3%;
	border-radius: 25px 0px 0px 25px;
	border-style: none;
	background-color: #CCCCD5;
}

.search-bar {
	width: 70%;
	display: inline-block;
	height: 35px;
	padding-left: 2%;
	margin: 0 -35px 0 -1px;
	float: left;
	border-radius: 0px 25px 25px 0px;
	border-style: none;
	background-color: #E3E3ED; 
}

.submit-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 5px 0px 0px;
	padding: 5px 0px 5px 0px;
	float: left;
	background-color: transparent;
	background-image: url("http://www.clker.com/cliparts/9/T/2/h/X/7/search-icon-md.png");
}

.results {
	padding-top: 10%;
}

.products {
	width: 80%;
	border-top: 1px solid black;
	background-color: #F2F2F2;
	margin: 0 0 0 10%;
	padding-left: 3%;
}

.categories { 
	font-size: .6em;
	float: right;
	margin-right: 5%;
}

.title {
	font-weight: bold;
	font-size: .95em;
}

.product_text {
	font-size: .85em;
}

.parent-category {
	margin: 3% 0 0 5%;
	font-size: .95em;
}

.category-list {
	margin: 0 0 0 5%;
	list-style: none;
	font-size: .85em;
}

.category-item {
	margin-bottom: 2%;
	width: 35%;
	display: inline;
	padding: 0 2% 0 2%;
	cursor: pointer;
}

.arrow {
	font-size: .8em;
	vertical-align: 25%;
	cursor: pointer;
}

.item-select {
	display: inline;
}

.product-titles {
	cursor: default;
}