#search-section {
	margin: 35% 0 0 20%;

}

#search-form {
	width: 90%;
}

.select-bar {
	width: 15%;
	display: inline-block;
	height: 36px;
	float: left;
	padding-left: 3%;
	border-radius: 25px 0px 0px 25px;
	border-style: none;
	background-color: #CCCCD5;
}

.search-bar {
	width: 70%;
	display: inline-block;
	height: 35px;
	padding-left: 2%;
	margin: 0 -35px 0 -1px;
	float: left;
	border-radius: 0px 25px 25px 0px;
	border-style: none;
	background-color: #E3E3ED; 
}

.submit-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 5px 0px 0px;
	padding: 5px 0px 5px 0px;
	float: left;
	background-color: transparent;
	background-image: url("http://www.clker.com/cliparts/9/T/2/h/X/7/search-icon-md.png");
}